/*--------------------------------------------------------------
# Variáveis Para o Tema
--------------------------------------------------------------*/

$cor-principal: #13769c;
$cor-principal-hover: #13469c;
$cor-auxiliar: #cf0430;
$cor-nosso-lar: #45de51;
$cor-teste: #a051ce;

$theme-colors: (
    "cor-principal": $cor-principal,
    "cor-auxiliar": $cor-auxiliar,
    "cor-nosso-lar": $cor-nosso-lar,
    "cor-teste": $cor-teste
);

// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: "Nunito", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;
